.back-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 1000;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    opacity: 0.4;
}

.back-button:hover {
    opacity: 1;
}

.back-button:before {
    content: "\f053";
    margin-right: 5px;
}

.reveal .slides section .fragment.strikeout {
    opacity: 1;
}

.reveal .slides section .fragment.strikeout.visible {
    text-decoration: line-through;
}

.reveal button {
    font-size: 100%;
}

.reveal .arrow {
    position: absolute;
    text-align: left;
    font-size: 0.6em;
    color: #9E3B3B;
    color: #FF5E99;
    font-weight: bold;
}

.references, .references li {
    font-size: 0.70em;
}

.reveal .progress span {
    background-color: #9E3B3B;
}

.reveal pre code {
    font-family: Consolas, Inconsolata, monospace;
}

input {
    font-size: inherit;
    padding: 0.2em;
}

.reveal h2 {
    margin-bottom: 1em;
}

.reveal li {
    line-height: 1.5em;
}

.reveal .live-demo {
    background-color: #EAEFF2;
    width: 90%;
    margin: 1em auto;
    padding: 0.4em;
    box-sizing: border-box;
}

.reveal .live-demo p {
    margin-top: 0.2em;
    margin-bottom: 0;
}

.reveal blockquote {
    width: 90%;
}

.reveal pre code{
    max-height: initial !important;
}

.green {
    color: #7DFB7D !important;
}

.red {
    color: red !important;
}

.orange {
    color: orange !important;
}

code.snippet {
    background-color: gray;
    font-size: smaller;
    padding: 5px 10px;
    border-radius: 15px;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-without-top {
    top: initial !important;
}

.user-card {
    min-width: 250px;
    width: 250px;
    border-radius: 0.2em !important;
    background-color: #fff;
    margin: 0.5em auto 15px auto !important;
    padding: 0.8em 0.5em !important;
    text-align: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.user-img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: 50%;
    margin-bottom: 15px;
}

.user-name {
    font-size: 1em !important;
    text-transform: capitalize !important;
    font-weight: 700 !important;
    color: #333 !important;
    margin-bottom: 10px !important;
}

.user-description {
    font-size: 0.7em !important;
    font-weight: 300;
    color: #B3B3B3;
    margin: 7px 0 15px !important;
}

.user-social {
    font-size: 24px !important;
    color: #333 !important;
    list-style-type: none !important;
    margin-left: 0 !important;
}

.img-plain {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

.reveal .twitter {
    font-size: 17px;
    float: right;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.line {
    display: block;
}

.line.focus {
    background-color: #711616;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.vertical-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

[h100]{
    height: 100%;
}

[w100]{
    width: 100%;
}

.video-opacity-50 video{
    opacity: 0.5;
}

.video-opacity-30 video{
    opacity: 0.3;
}

div.box {
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 5px;
}

html.background-opacity-30 .slide-background.present {
    opacity: 0.3;
}

html.background-opacity-50 .slide-background.present {
    opacity: 0.5;
}
