.back-button{
    color: white;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reveal .slides section .fragment.strikeout {
                opacity:1;
            }
            .reveal .slides section .fragment.strikeout.visible {
                text-decoration:line-through;
            }
            .reveal button {
                font-size:100%;
            }
            .reveal .arrow {
                position:absolute;
                text-align:left;
                font-size:0.6em;
                color:#9E3B3B;
                color:#FF5E99;
                font-weight:bold;
            }
            .references, .references li {
                font-size:0.70em;
            }
            .reveal .progress span {
                background-color:#9E3B3B;
            }
            .reveal pre code {
                font-family:Consolas, Inconsolata, monospace;
            }
            input {
                font-size:inherit;
                padding:0.2em;
            }
            .reveal h2 {
                margin-bottom:1em;
            }
            .reveal li {
                line-height:1.5em;
            }
            .reveal .live-demo {
                background-color:#EAEFF2;
                width:90%;
                margin:1em auto;
                padding:0.4em;
                box-sizing:border-box;
            }
            .reveal .live-demo p {
                margin-top:0.2em;
                margin-bottom:0;
            }
            .reveal blockquote {
                width:90%;
            }
