<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Cross platform apps with Ionic Framework | Julien Renaux, AngularJS Mexico, January 16th 2016</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Julien Renaux">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="../../../css/reveal.css">
		<link rel="stylesheet" href="../../../css/overwrite.css">
		<link rel="stylesheet" href="../../../css/gridism.css">
		<link rel="stylesheet" href="../../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="../../../lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement('link');
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match(/print-pdf/gi) ? '../../../css/print/pdf.css' : '../../../css/print/paper.css';
			document.getElementsByTagName('head')[0].appendChild(link);
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		<style>
			.reveal pre {
				width: 100% !important;
			}
		</style>
	</head>

	<body>

		<a href="../../.." class="back-button">Back</a>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Introduction to AngularJS 1.5</h1>
					<section data-markdown="../../../slides/footer.md"></section>
					<aside class="notes">
						
					</aside>
				</section>
		        <section data-markdown="../../../slides/about-me.md"></section>
		        <section data-markdown="slides/table-of-content.md"></section>
		        <section data-markdown="slides/intro.md"></section>
		        <section data-markdown="slides/modules.md"></section>
		        <section data-markdown="slides/mvc.md"></section>
		        <section data-markdown="slides/di.md"></section>
		        <section data-markdown="slides/new-1.5.md"></section>
				<section>
					<h2>Question ?</h2>
					<section data-markdown="../../../slides/footer.md"></section>
				</section>


				<section>
					<section>
						<h1>Templating</h1>
					</section>


					<section>
						<h2>Expressions</h2>
						<ul>
							<li>"JavaScript-like" pieces of code that conditionally change the View (DOM) to match the Model</li>
							<li>Live in <code class="snippet">{{}}</code> or <code class="snippet">ng-bind</code> and evaluated against $scope</li>
							<li>Angular re-evaluates these expressions during each $digest cycle, making updates based on any changes</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>Can contain limited bits of JavaScript logic including basic operators (e.g., &&, ||, ?:, >/<, +/-, ===, etc.)</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Example</h2>
						<pre><code>
	$scope.heading = 'Hello World!';
	$scope.updateHeading = function(newHeading) {
		$scope.heading = newHeading;
	}
						</code></pre>

						<pre><code>
	&lt;h1&gt;{{heading}}&lt;/h1&gt; &lt;!-- &lt;h1&gt;Hello World!&lt;/h1&gt;--&gt;
	&lt;button ng-click="updateHeading('Foobar')"&gt;Update&lt;/button&gt; &lt;!-- Click --&gt;
						</code></pre>

						<pre><code>
	&lt;h1&gt;{{heading}}&lt;/h1&gt; &lt;!-- &lt;h1&gt;Foobar&lt;/h1&gt;--&gt;
						</code></pre>

					</section>
				</section>

				<section>
					<section>
						<h1>Providers</h1>
					</section>

					<section>
						<h2>Services and Factories</h2>
						<ul>
							<li>Containers for our application's Model, where the data and business logic should live</li>
							<li>Services are invoked with <code class="snippet">new</code>, thus all data/logic should be bound to <code class="snippet">this</code></li>
							<li>Factories are <em>not</em> invoked with <code class="snippet">new</code> and can return anything (e.g., Functions, Objects, Arrays, simple values)</li>
							<li>Everything returned from either a Service or Factory is a <em>singleton</em></li>
						</ul>

						<aside class="notes">
							<ul>
								<li>The fact that they are singletons is very important and powerful. This means that regardless of where a Service or Factory object is used, it's always the same object. This enables us to share data across Controllers and maintain state with our application.</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Service Syntax</h2>

						<pre><code>
angular.module('MyModule')
	.service('MyService', [myService]);

function myService() {
	this.bar = 'bar';
	this.doSomething = function doSomething() {
		return 'foo' + this.bar;
	}
}
						</code></pre>

												<pre><code>
angular.module('MyModule')
	.controller('MyController', ['$scope', 'MyService', myController]);

function myController($scope, myService) {
	$scope.heading = myService.doSomething();
}
						</code></pre>

						<pre><code>
&lt;h1&gt;{{heading}}&lt;/h1&gt; &lt;!-- &lt;h1&gt;foobar&lt;/h1&gt;--&gt;
						</code></pre>

						<aside class="notes">
							<ul>
								<li>Service objects are just constructors that only get invoked once</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Factories</h2>
						<ul>
							<li>Can return anything, but typically an <code class="snippet">Object Literal</code> or <code class="snippet">Function</code></li>
						</ul>

						<aside class="notes">
							<ul>
								<li>Take advantage of closures and can create privately scope variables</li>
								<li>When naming Factories, recommend still use the word 'service' unless they are truly a Factory for creating other objects</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Factory Syntax</h2>

						<pre><code>
angular.module('MyModule')
	.factory('MyService', [myService]);

function myService() {
	var bar = 'bar';

	return {
			doSomething: doSomething
	}

	function doSomething() {
		return 'foo' + bar;
	}
}
						</code></pre>

												<pre><code>
angular.module('MyModule')
	.controller('MyController', ['$scope', 'MyService', myController]);

function myController($scope, myService) {
	$scope.heading = myService.doSomething();
}
						</code></pre>
					</section>

					<section>
						<h2>Providers</h2>
						<ul>
							<li>Used throughout your application just like Factories or Services, however they can also be passed into the <code class="snippet">.config()</code> of your Module</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>The config of a module is executed before the DI invokes the Service or Factory functions, enabling you to setup certain parts of your service/factory</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Provider Syntax</h2>

						<pre><code>
angular.module('MyModule')
    .provider('MyService', function() {
        var bar = 'bar';

    return {
        setBar: function(newBar) { bar = newBar; },
        $get: function() {
            return {
                doSomething: function() { return 'foo' + bar; }
            };
        }
    };
  });
						</code></pre>

												<pre><code>
angular.module('MyModule')
    .config(function(MyServiceProvider) {
        MyServiceProvider.setBar('baz');
    })
    .controller('MyController', function($scope, MyService) {
        $scope.heading = MyService.doSomething();
    });
						</code></pre>

						<aside class="notes">
							<ul>
								<li>Service objects are just constructors that only get invoked once</li>
							</ul>
						</aside>
					</section>

				</section>

				<section>
					<section>
						<h1>Directives</h1>
					</section>

					<section>
						<h2>What are Directives?</h2>

						<ul>
							<li>Powerhouses of AngularJS and are the underlying components that make a rich client-side application</li>
							<li>Can enhance existing elements with functionality (e.g., ng-required, ng-click)</li>
							<li>Can extend functionality to previously non-functional elements (e.g., ng-repeat, ng-class, ng-show/hide) </li>
							<li>Can be brand-new elements with their own functionality (e.g., ng-include)</li>
							<li>Directives can be set via custom element tags, attributes, classes, or uncommonly as comments</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>Anything you previously did with jQuery where you reached into the DOM (e.g., selectors) can be done via Angular Directives</li>
							</ul>
						</aside>
					</section>
					<section>

						<h2>Common Examples</h2>

						<ul>
							<li><code class="snippet">ng-repeat</code> provides a repeater for displaying the same template over a collection of like elements</li>
							<li><code class="snippet">ng-model</code> allows us to bind HTML inputs to Models on our $scope</li>
							<li><code class="snippet">ng-click</code> allows us to handle click events on buttons, anchors or any other element, with the function bound only to the local $scope</li>
							<li><code class="snippet">ng-href</code>/<code class="snippet">ng-src</code> allow us to dynamically set href and src attributes. Important since we want angular to resolve the href/src before it's clicked or the image downloaded</li>
							<li><code class="snippet">ng-class</code> allows us to dynamically add/remove classes to elements</li>
						</ul>
					</section>
					<section>
						<h2>Common Examples Cont.</h2>

						<ul>
							<li><code class="snippet">ng-show</code>/<code class="snippet">ng-hide</code> allow us to toggle the display property of elements based on a boolean (or truthy/falsy) value</li>
							<li><code class="snippet">ng-if</code> will actually remove the element from the DOM and the $scope it creates</li>
							<li><code class="snippet">ng-switch</code> removes elements from the DOM based on a value (doesn't have to be boolean) and can apply to multiple elements like a switch statement </li>
							<li><code class="snippet">ng-bind</code> is an alternative to <code class="snippet">{{}}</code> that prevents edge-cases where there is a brief flicker of the <code class="snippet">{{}}</code> before Angular resolves the value</li>
							<li><code class="snippet">ng-include</code> allows you to pull in a template of HTML from the server or pre-loaded in the template cache</li>
						</ul>
					</section>

					<section>
						<h2>Custom Directives - Usage</h2>

						<ul>
							<li>Enable us to create and encapsulate new functionality and views in reusable and injectable way</li>
							<li>Can be used as tags, attributes, classes, or comments as specified via the <code class="snippet">restrict</code> property on the Directive Definition Object (DDO)</li>
							<li>
								<code class="snippet">E</code> for Element/Tag,
								<code class="snippet">A</code> for Attribute,
								<code class="snippet">C</code> for Class,
								<code class="snippet">M</code> for Comment,
								Default to <code class="snippet">EA</code>
							</li>
							<li>Follow a kebab-case convention for use within the DOM (in JavaScript, use camelCase, Angular handles the conversion)</li>
						</ul>

						<pre><code>
&lt;my-directive&gt;&lt;/my-directive&gt;
&lt;div my-directive&gt;&lt;/div&gt;
&lt;div class=&quot;my-directive&quot;&gt;&lt;/div&gt;
&lt;!-- directive: my-directive --&gt;
						</code></pre>

						<aside class="notes">
							<ul>
								<li>Directives are akin to Web Components or React Components</li>
								<li>Attributes are preferred which prevent older IE from complaining and are generally more clear than classes/comments</li>
								<li></li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Custom Directives - Templates</h2>

						<ul>
							<li>Directives can be used as templating engines, so you not only extend an element with functionality, but also extend the DOM with content</li>
							<li><code class="snippet">template</code> and <code class="snippet">templateUrl</code> are the two ways of associating DOM content with a Directive</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>template is just a string representing HTML</li>
								<li>templateUrl is a reference to a public HTML asset on your server, a pre-existing asset in the $templateCache, or a template defined as a custom script tag using the custom type of "text/ng-template"</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Custom Directives - DDO</h2>

						<ul>
							<li>The Directive Definition Object is the API for creating Directives</li>
							<li>Simple JavaScript Object with certain properties</li>
						</ul>

							<pre><code>
function myDirective() {
    return {
        restrict: 'EA', // how the directive can be used
        templateUrl: 'myDirective.html', // template HTML
        scope: true, // how we setup the directive's scope
                     // true => new scope prototypally inherited from parent
                     // false => parent scope
                     // object literal => isolate scope where custom properties can be injected
        link: function link(scope, elem, attrs) {}, // provides DOM access
        controller: function myController($scope) {}, // like other controllers, except specific to the directive's scope

    }
}
							</code></pre>

						<aside class="notes">
							<ul>
								<li>The link function is executed after the Directive is compiled and the template (if provided) is inserted into the DOM, allowing us to bind event listeners or perform DOM manipulation based on scope properties or other logic</li>
								<li>It's important to approach DI with Controllers just as with other Controllers, so to handle minification/uglification you must use Array and String notation. This does not apply to Link functions.</li>
								<li>Other less common DDO properties are listed <a href="https://docs.angularjs.org/api/ng/service/$compile">here</a></li>
							</ul>
						</aside>
					</section>
				</section>

				<section>
					<section>
						<h1>Filters</h1>
					</section>

					<section>
						<h2>What are Filters?</h2>
						<ul>
							<li>Provide a means of processing data and returning a transformed version of it (e.g., filtered list, specific date format)</li>
							<li>Filters can be used in templates via the <code class="snippet">|</code> character</li>
							<pre><code>
{{ object_expression | filterName : expression : comparator}}
							</code></pre>
							<li>Filters can be used in JavaScript via the <code class="snippet">$filter</code> service</li>
							<pre><code>
$filter('filterName')(object, expression, comparator)
							</code></pre>
							<li>Filters do not alter the underlying data</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>single value or collection based</li>
								<li>object/object_expression is the JavaScript Object to be passed through the filter function</li>
								<li>filterName is the filter to be used (e.g., 'filter', 'date', 'uppercase')</li>
								<li>expression is the predicate to be used for selecting certain elements from a collection (String, Object, or Function callback...via a function callback, custom filters can be created outside of the .filter function on modules)</li>
								<li>comparator is means of telling Angular whether the actual and expected items are considered 'equal'</li>
							</ul>
						</aside>
					</section>

					<section>

						<h2>Common Examples</h2>

						<ul>
							<li><code class="snippet">date</code> converts a date to a specified format and timezone</li>
							<li><code class="snippet">limitTo</code> limits the elements returned in the collection to the specified number</li>
							<li><code class="snippet">orderBy</code> orders the elements returned in the collection based on the predicate</li>
							<li><code class="snippet">linky</code> finds links in a snippet of text and converts them to actual Anchor links</li>
						</ul>

						<aside class="notes">
							<ul>
								<li>orderBy defaults to descending order, but can be reversed with a third boolean parameter</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>Custom Filters - Usage</h2>

						<ul>
							<li>Use the <code class="snippet">filter</code> function and return a function used to filter the object</li>
							<li>Angular will pass the value or collection to be run through the filter function</li>
														<pre><code>
angular.module('MyModule')
    .filter('capitalize', function() {
        return function capitalizer(text) {
            return text.charAt(0).toUpperCase() + text.slice(1);
        };
    })
    .controller('MyController', function($scope) {
        $scope.heading = 'foobar';
    });
							</code></pre>
							<pre><code>
&lt;h1&gt;{{heading | capitalize}}&lt;/h1&gt; &lt;!-- &lt;h1&gt;Foobar&lt;/h1&gt;--&gt;
						</code></pre>
						</ul>


						<aside class="notes">
							<ul>
								<li>Custom Filters benefit from two-way data binding and are executed on each $digest cycle automatically</li>
								<li>Custom filters for collections are generally the same and single value filters: the collection will be passed to your function and you must return the subset of objects that meet your filtering conditions</li>
								<li>Additional arguments can be passed into your filter function by colon (:) delimiting the arguments in the expression (e.g., capitlize:onlyStringsStartingWithA => | capitalize:'a'</li>
								<li>Note that because the generalized 'filter' filter can take a function callback as a predicate, custom filters can be created without using the customer .filter module function</li>
							</ul>
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h1>Server Interactions</h1>
					</section>

					<section>
						<h2>$http</h2>

						<ul>
							<li><code class="snippet">$http</code> is a service that enables server-side communication via AJAX requests</li>
							<li><code class="snippet">$http</code> is both a function, whereby an AJAX configuration object is passed in, and an object with convenience <code class="snippet">GET</code>, <code class="snippet">POST</code>, <code class="snippet">DELETE</code>, and <code class="snippet">PUT</code> methods (also exposes HEAD, JSONP, and PATCH)</li>
							<li>Returns a Promise object based on the <code class="snippet">$q</code> service, with additional <code class="snippet">success</code> and <code class="snippet">error</code> convenience functions</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>Note the Success and Error functions returned from an $http request are convenience wrappers for Then and Catch promise functions. Success and Error functions are automatically passed in the data, status, headers and config params, where .Then/.Catch are only passed the raw response containing the aforementioned properties.</li>
								<li>$http responses are wrapped in and $apply call, so if we update $scope bindings based on a response, they will be automatically updated in the View</li>
								<li>You can bind the $http Promise response to a $scope property and Angular will automatically resolve the Promise value when it is fulfilled</li>
							</ul>
						</aside>
					</section>

					<section>
						<h2>$q</h2>

						<ul>
							<li><code class="snippet">$q</code> is a simplified Promise library implementation that supports <code class="snippet">then</code>, <code class="snippet">catch</code>, <code class="snippet">finally</code>, and <code class="snippet">all</code> methods</li>
							<li>Exposes both the ES6 style promise or via the deferred API</li>
						</ul>
						<pre><code>
function asyncGreet(name) {
    return $q(function(resolve, reject) {
        setTimeout(function() {
            if (okToGreet(name)) { resolve('Hello, ' + name + '!'); }
            else { reject('Greeting ' + name + ' is not allowed.'); }
        }, 1000);
    });
}
							</code></pre>

							<pre><code>
function asyncGreet(name) {
    var deferred = $q.defer();
    setTimeout(function() {
        if (okToGreet(name)) { deferred.resolve('Hello, ' + name + '!'); }
        else { deferred.reject('Greeting ' + name + ' is not allowed.'); }
    }, 1000);
    return deferred.promise;
}
							</code></pre>
						<aside class="notes">
							<ul>
								<li>Note the Success and Error functions returned from an $http request are convenience wrappers for Then and Catch promise functions. Success and Error functions are automatically passed in the data, status, headers and config params, where .Then/.Catch are only passed the raw response containing the aforementioned properties.</li>
								<li>$http responses are wrapped in and $apply call, so if we update $scope bindings based on a response, they will be automatically updated in the View</li>
								<li>You can bind the $http Promise response to a $scope property and Angular will automatically resolve the Promise value when it is fulfilled</li>
							</ul>
						</aside>
					</section>

				</section>
				<section>
                    <h2>The Problem</h2>
                    <ul>
                        <li>HTML was originally envisioned for static documents</li>
                        <li>Users expect responsive, AJAX-driven websites</li>
                        <li>Creating large web applications is hard</li>
                    </ul>
                </section>

                <section>
                    <h2>The Problem &ndash; A Demo</h2>
                    <div class="live-demo">
                        <input type="text" ng-model="nameJsDemo" />
                        <p>Hello, {{nameJsDemo}}</p>
                    </div>
                    <div class="fragment">
                        Plain Ol' JavaScript:
                        <pre><code class="html">
<input type="text" id="my-input-box" />
<p id="my-label"></p>
                        </code></pre>
                        <pre><code class="javascript">
var myInput = document.getElementById("my-input-box");
var myLabel = document.getElementById("my-label");
myInput.addEventListener("keyup", function() {
    myLabel.innerText = "Hello, " + this.value;
}, false);
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>HTML with Angular</h2>
                    <div class="live-demo">
                        <input type="text" ng-model="name" />
                        <p>Hello, {{name}}</p>
                    </div>
                    <div class="fragment">
                        <pre><code class="html" ng-non-bindable>
<input type="text" ng-model="name" />
<p>Hello, {{name}}</p>
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>AngularJS's Solution</h2>
                    <ul>
                        <li><strong>Model / View / Controller</strong> architecture</li>
                        <li><strong>Databinding</strong> removes boilerplate "glue code"</li>
                        <li><strong>Extends HTML</strong> with a vocabulary for dynamic web apps</li>
                    </ul>
                </section>
                <section>
                    <h2>MVC Architecture</h2>
                    <img src="img/MVC.svg" style="width:50%" alt="">
                </section>
                <section>
                    <h2>Angular's MVC Architecture</h2>
                    <img src="img/angular-mvc.svg" style="width:70%" alt="">
                </section>
                <section>
                    <h2>A Simple Angular App</h2>
                    <pre><code class="html" data-trim ng-non-bindable>
&lt;!DOCTYPE html&gt;
&lt;html ng-app="favorites-app"&gt;
    &lt;head&gt;
        &lt;script src="angular.min.js"&gt;&lt;/script&gt;
        &lt;script&gt;
            var app = angular.module('favorites-app', []);
            app.controller('FavoritesController', function($scope) {
                $scope.favoriteThings = ['JavaScript', '.NET', 'Unicorns'];
            });
        &lt;/script&gt;
    &lt;/head&gt;
    &lt;body ng-controller="FavoritesController"&gt;
        &lt;h1&gt;My Favorite Things&lt;/h1&gt;
        &lt;ul&gt;
            &lt;li ng-repeat="favorite in favoriteThings"&gt;{{favorite}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/body&gt;
&lt;/html&gt;
                </code></pre>
                    <div class="arrow fragment" style="top:12.5em; left:-3.5em;">Create root module &#8594;</div>
                    <div class="arrow fragment" style="top:13.6em; left:-3.1em;">Define a controller &#8594;</div>
                    <div class="arrow fragment" style="top:14.7em; left:-0.8em">Set the model &#8594;</div>
                    <div class="arrow fragment" style="top:8.3em; left:17.2em">&#8592; Reference our root module</div>
                    <div class="arrow fragment" style="top:19.0em; left:25.5em">&#8592; Reference our controller</div>
                    <div class="arrow fragment" style="top:22.2em; left:-3.1em">Databind to model &#8594;</div>
                    <!--
                    <div class="arrow fragment" style="top:-17.1em; left: 8em">&#11071; root of our app</div>
                    <div class="arrow fragment" style="top:-15.1em; left: 22em">&#11071; define a controller</div>
                    <div class="arrow fragment" style="top:-12.9em; left: 21.5em">&#11071; attach controller to view</div>
                    <div class="arrow fragment" style="top:-11.8em; left: 28.5em">&#11071; databind to model</div>
                    -->
                </section>
                <section>
                    <h2>MVC - The Controller</h2>
                    Our controller
                    <pre><code class="javascript" ng-non-bindable data-trim>
app.controller('FavoritesController', function($scope) {
    $scope.favoriteThings = ['JavaScript', '.NET', 'Unicorns'];
});
                    </code></pre>
                    <p>Uses <strong>Dependency Injection</strong></p>
                    <div class="fragment">
                        <pre><code class="javascript" ng-non-bindable data-trim>
app.controller('FavoritesController', function($log) {
    $log.debug('now we have logging!');
});
                        </code></pre>
                    </div>
                    <div class="fragment">
                    or maybe...
                        <pre><code class="javascript" ng-non-bindable data-trim>
app.controller('FavoritesController', function($http) {
    // make an http request!
    $http.get('/api/favorite-things').success(function(data) {
        ...
    });
});
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>MVC - The Controller</h2>
                    <h3>Tying it all together</h3>
                    <pre><code class="javascript" ng-non-bindable data-trim>
app.controller('FavoritesController', function($scope, $http, $log) {
    $log.debug('Making http request...');
    $http.get('/api/favorite-things').success(function(favorites) {
        $log.debug('...received response');
        $scope.favoriteThings = favorites;
    });
});
                    </code></pre>
                </section>
                <section>
                    <h2>MVC - The Model</h2>
                    The model, <code>$scope</code>, holds data for the view:
                    <pre><code class="javascript" ng-non-bindable data-trim>
...
{
    $scope.favoriteThings = ["C#", "AngularJS"];
    $scope.mostFavoriteThing = "Caffeine";
}
                    </code></pre>
                    <div class="fragment">
                        It can also hold functions for the view to call:
                        <pre><code class="javascript" ng-non-bindable data-trim>
...
{
    $scope.favoriteThings = ["C#", "AngularJS"];
    $scope.addFavorite = function(newFavorite) {
        $scope.favoriteThings.push(newFavorite);
    }
}
                        </code></pre>
                    </div>
                    <div class="fragment">
                        let's call this function from a view...
                    </div>
                </section>
                <section>
                    <h2>MVC - The View</h2>
                    <pre><code class="html" ng-non-bindable data-trim>
&lt;ul&gt;
    &lt;li ng-repeat="favorite in favoriteThings"&gt;{{favorite}}&lt;/li&gt;
&lt;/ul&gt;
&lt;input type="text" ng-model="newFavorite" /&gt;
&lt;button ng-click="addFavorite(newFavorite)"&gt;Add&lt;/button&gt;
                    </code></pre>
                    <script>
                        function FavoritesController($scope)
                        {
                            $scope.favoriteThings = [];
                            $scope.addFavorite = function(newFavorite) {
                                $scope.favoriteThings.push(newFavorite);
                            }
                        }
                    </script>
                    <div ng-controller="FavoritesController" style="width:90%">
                        <ul>
                            <li ng-repeat="item in favoriteThings">{{item}}</li>
                        </ul>
                        <div>
                            <input type="text" ng-model="newFavorite" />
                            <button ng-click="addFavorite(newFavorite)" style="padding:0.2em 1em">Add</button>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>AngularJS's Solution</h2>
                    <ul>
                        <li class="fragment strikeout"><strong>Model / View / Controller</strong> architecture</li>
                        <li class="fragment strikeout"><strong>Databinding</strong> removes boilerplate "glue code"</li>
                        <li class="fragment strikeout"><strong>Extends HTML</strong> with a vocabulary for dynamic web apps</li>
                        <li class="fragment roll-in"><strong>Routing!</strong> - move between controllers</li>
                    </ul>
                </section>
                <section>
                    <h2>Routing</h2>
                    <ul>
                        <li>Not part of "core" angular, but almost every app needs it.</li>
                        <li>Associates a URL with a controller and view</li>
                        <li>When a user changes the URL (by clicking a link), the active controller and view change</li>
                    </ul>
                </section>

				<section>
          <img src="img/AngularJS-large.png" alt="AngularJS">
					<h2>What is AngularJS</h2>
					<p>
            AngularJS is a framework for developing component based Javascript Apps in the browser.
					</p>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Difference to other Frameworks</h2>
						<p>
              Why would you use angular over something else?
						</p>
						<p>
              Backbone, Knockout, Ember, Meteor
						</p>
					</section>
					<section>
						<h2>Declarative Development</h2>
            <ul>
              <li>Describe the structure of your app in HTML</li>
              <li>Represent your data however you want (pure objects/custom classes)</li>
              <li>Describe data-dependencies through watchers</li>
              <li>Change UI state in reaction to data changes</li>
            </ul>
					</section>
					<section>
						<h2>No templates</h2>
						<p>The DOM is your template</p>
            <ul>
              <li>Describe the structure of your app in HTML</li>
              <li>Describe data-dependencies through watchers</li>
            </ul>
					</section>
				</section>

				<section>
					<h2>Why is that so powerful?</h2>
          <live-example>
            <script type="text/template" data-title="Normal">
            <form name="form">
              <p>
                <input type="text" ng-model="name"/>
              </p>
              <p>
                {{name}}
              </p>
            </form>
            </script>
            <script type="text/template" data-title="Reverse">
              <code>
                function Foo($scope){
                  $scope.rev = function(s) {
                    if (s) {
                      return s.split('').reverse().join('');
                    }
                  }
                }
              </code>
              <form name="form" ng-controller="Foo">
                <p>
                  <input type="text" ng-model="name"/>
                </p>
                <p>
                  {{rev(name)}}
                </p>
              </form>
            </script>
            <script type="text/template" data-title="TODO">
              <code>
                function Foo($scope){
                  $scope.tasks = [];
                  $scope.addTask = function() {
                    $scope.tasks.push($scope.newTask);
                    $scope.newTask = null;
                  };
                  $scope.removeTask = function (index) {
                    $scope.tasks.splice(index, 1);
                  };
                }
              </code>
              <form name="form" ng-controller="Foo">
                <h2>{{tasks.length}} Tasks</h2>
                <p>
                  <input type="text" ng-model="newTask"/>
                  <button ng-click="addTask()">Add</button>
                </p>
                <ul>
                  <li ng-repeat="(index, task) in tasks">
                    {{task}} <button ng-click="removeTask(index)">X</button>
                  </li>
                </ul>
              </form>
            </script>
            <script type="text/template" data-title="Red Square">
              X: <input type="text" ng-model="x">
              <br>
              Y: <input type="text" ng-model="y">

              <div style="background-color: red; width: 20px; height: 20px; position: absolute; left: {{x}}; top: {{y}}"></div>

            </script>
          </live-example>
				</section>

        <section>
          <h2>Angular Development Model: Classic MVC</h2>
          <ul>
            <li>Data driven, component based</li>
            <li>
              Directives
              <ul>
                <li>Look (DOM)</li>
                <li>Behavior (Event Handling)</li>
              </ul>
            </li>
            <li>
              Controller
              <ul>
                <li>Provide data to scope</li>
                <li>Coordinate components &amp; services</li>
              </ul>
            </li>
          </ul>
        </section>

				<section>
          <section>
            <h2>Library Functions</h2>
            <ul>
              <li>Form Validation</li>
              <li>REST Adapter</li>
              <li>Cookies</li>
              <li>LocalStorage</li>
            </ul>
          </section>
          <section>
            <h2>Niceties</h2>
            <ul>
              <li>Small (82kB base Version)</li>
              <li>Fast</li>
              <li>Plays very well with others (modularized, clean API, encapsulation)</li>
              <li>Kills default behavior on Forms & Links (if necessary)</li>
            </ul>
          </section>
				</section>

				<section>
					<h2>Power engineered</h2>
          <ul>
            <li>Throughtfully designed</li>
            <li>Proper MVC</li>
            <li>Dependency Injection Framework</li>
            <li>Strong testing support</li>
            <li>Great Documentation</li>
          </ul>
				</section>

				<section>
					<h2>How does it work?</h2>
          <img src="img/magnets.jpg" alt="Fucking Magnets" />
				</section>

				<section>
          <section>
            <h2>Modules</h2>
            <ul>
              <li>Define modules</li>
              <li>Declare dependencies</li>
              <li>Provide services</li>
              <li>Initialize app</li>
            </ul>
          </section>
          <section>
            <h2>Define modules</h2>
<pre><code contenteditable class="javascript">// New Module
angular.module('demo/controllers',[]);
angular.module('demo/directives',[]);

// Dependencies
angular.module('demo', ['demo/controllers', 'demo/directives']);
</code></pre>
          </section>
          <section>
            <h2>Provide services</h2>
            <pre><code contenteditable class="javascript">
angular.module('demo/controllers')
  .controller('FooCtrl', function($scope){
    $scope.foo = 'bar';
    $scope.alert = function(){
      $scope.foo = 'baz';
    };
    $scope.$watch('foo', function (value, old, scope) {
      scope.fooToo = value;
    });
  })
  .controller('BarCtrl', function($scope, $resource){...});
            </code></pre>
          </section>
          <section>
            <h2>Initialize app</h2>
            <pre><code contenteditable class="js">
angular.bootstrap(document, 'demo');
            </code></pre>
            <pre><code contenteditable class="html">
&lt;body ng-app="demo"&gt;
  ...
&lt;/body&gt;
            </code></pre>
          </section>
				</section>

        <section>
          <section>
            <h2>Declare and provide</h2>
            <pre><code contenteditable class="js">
angular.module('demo')
  .service('cow', function(){
    return {
      moo: function(){
        alert('Moooo');
      }
    };
  })
  .service('farm', function(cow){
    cow.moo();
  });

            </code></pre>

          </section>
        </section>
        <section>
          <section>
            <h2>The Angular Compiler</h2>
            <p>This is where the magic happens</p>
            <ul>
              <li class="fragment">Parses the DOM tree for directives</li>
              <li class="fragment">
                Found directives
                <ul>
                  <li>Manipulate their children further</li>
                  <li>Populate Scopes with data and functions</li>
                  <li>Instantiate controllers</li>
                </ul>
              </li>
            </ul>
          </section>
          <section>
            <h2>Directives</h2>
            <live-example>
              <script type="text/template" data-title="Blink">
                <code>
                  angular.module('demo').directive('blink', function() {
                    return {
                      restrict: 'E',
                      link: function(scope, elem, attr){
                        var visible = true;
                        var timer = setInterval(function () {
                          if (visible = !visible) {
                            elem.show();
                          } else {
                            elem.hide();
                          }
                        }, attr['interval']);
                      }
                    }
                  })
                </code>
                <div ng-app="demo">
                  <blink interval="500">Long live the 90s</blink>
                </div>
              </script>
              <script type="text/template" data-title="Template">
                <code>
                  angular.module('demo').directive('with', function() {
                    return {
                      restrict: 'A',
                      template:
                        '<li ng-repeat="item in items">{{item}}</li>',
                      link: function(scope, elem, attr){
                        scope.items = attr['with'].split(',');
                      }
                    }
                  })
                </code>
                <div ng-app="demo">
                  <ul with="a,b,c"></ul>
                </div>
              </script>
              <script type="text/template" data-title="Controller">
                <code>
                  angular.module('demo')
                    .controller('FooCtrl', function ($scope) {
                      $scope.foo = 'Bar';
                    })
                    .directive('foo', function() {
                      return {
                        restrict: 'C',
                        scope: true,
                        controller: 'FooCtrl'
                      }
                    })
                </code>
                <div ng-app="demo">
                  Outer Foo: {{foo}}
                  <br/>
                  <span class="foo">Inner Foo: {{foo}}</foo>
                </div>
              </script>
            </live-example>
          </section>
        </section>

        <section>
          <section>
            <h2>Scopes</h2>
            <ul>
              <li>Central structure of your app</li>
              <li>Hold functions and data</li>
              <li>Directives <i>can</i> introduce new Scopes</li>
              <li>Prototypical inherited</li>
            </ul>
          </section>
          <section>
            <h2>Inheritance</h2>
            <ul>
              <li>Child scope properties overshadow parent scope properties</li>
              <li>Isolated scopes don't</li>
              <li>Following DOM-structure</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h2>Watchers and Binding</h2>
            <p>Scopes responsible for binding and <br> communication between components</p>
            <ul>
              <li>
                Dynamic behavior always result of watchers firing
                <pre><code>
$scope.$watch('foo', function(value, old, scope){
  //...
});

$scope.$watch(function(scope){
  return scope.foo;
}, function(value, old, scope){
  //...
});
                </code></pre>
                <pre><code ng-non-bindable>
&lt;span&gt;{{foo}}&lt;/span&gt;
                </code></pre>
              </li>
            </ul>
          </section>

          <section>
            <h2>Watchers and Binding</h2>
            <p>Not event based</p>
            <ul>
              <li>Dirty Tracking</li>
              <ul>
                <li>Evaluate Watchers, execute handlers, until watchers don't change anymore</li>
                <li>Until next $digest cycle (triggered by external event)</li>
              </ul>
            </ul>
          </section>

          <section>
            <h2>Watchers and Binding</h2>
            <img src="img/concepts-runtime.png" alt="Digest Cycle" />
          </section>

          <section>
            <h2>Watchers and Binding</h2>
            <p>Triggering $digest cycle from external events</p>
            <pre><code>
$.getJSON(url).success(function (data) {
  $scope.$apply(function (scope) {
    scope.result = data;
  };
})
            </code></pre>
            <p>Not necessary for angular-triggered events</p>
          </section>
        </section>

        <section>
          <h2>Events</h2>
            <pre><code>
// Sending upwards
$scope.$emit('eventName', payload);

// Sending downwards
$scope.$broadcast('eventName', payload);

// Receiving
$scope.$on('eventName', function handler(event, payload){
  // ...
})
            </code></pre>
        </section>

        <section>
          <h2>Debugger</h2>
          <p>Batarang: Chrome Extension</p>
        </section>

        <section>
          <h2>Forms</h2>

          <live-example>
            <script type="text/template" data-title="Forms">
              <div ng-controller="Controller">
                <form novalidate class="css-form">
                  Name:
                    <input type="text" ng-model="user.name" required /><br />
                  E-mail:
                    <input type="email" ng-model="user.email" required /><br />
                  <button ng-click="reset()">RESET</button>
                  <button ng-click="update(user)">SAVE</button>
                </form>
                <pre>form = {{user | json}}</pre>
                <pre>master = {{master | json}}</pre>
              </div>

              <code>
                function Controller($scope) {
                  $scope.master= {};

                  $scope.update = function(user) {
                    $scope.master= angular.copy(user);
                  };

                  $scope.reset = function() {
                    $scope.user = angular.copy($scope.master);
                  };

                  $scope.reset();
                }
              </code>

              <style type="text/css">
                .css-form input.ng-invalid.ng-dirty {
                  background-color: #FA787E;
                }

                .css-form input.ng-valid.ng-dirty {
                  background-color: #78FA89;
                }
              </style>
            </script>
          </live-example>
        </section>
		<section data-markdown>
			<script type="text/template">
				## WHERE ANGULAR FALLS DOWN

				* Old browser support
				* Non-JS support
				* Static websites
				* SEO
				<aside class="notes">

				</aside>
			</script>
		</section>
			</div>

		</div>

		<script src="../../../lib/js/head.min.js"></script>
		<script src="../../../js/reveal.js"></script>
		<script src="../../../js/init.js"></script>
		<script type="text/javascript" src="../../../js/angular.1.5.min.js"></script>
	</body>

</html>
